<div class="container">
  <div class="card mt-3">
    <div class="row">
      <div class="col text-center">Book Management App</div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <input type="text" placeholder="Book Title" class="form-control" [(ngModel)]="bookTitle" />
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Book Author" class="form-control" [(ngModel)]="bookAuthor" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary w-100" (click)="addBook()">Add Book</button>
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <h2 class="text-center">Book Lists</h2>
    <ul class="list-group mt-3">
      @for(book of books; track $index){
      <li class="list-group-item d-flex justify-content-between align-items-center">{{ book.title }} by {{ book.author }}</li>
      }
    </ul>
  </div>
</div>
